*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Roboto Mono", "Noto Sans TC", "Microsoft Jhenghei", serif;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}
