.container {
  padding-right: 12px;
  padding-left: 12px;
  margin: 0 auto;
  max-width: 540px;

  @include md {
    max-width: 720px;
  }

  @include lg {
    max-width: 960px;
  }

  @include xl {
    max-width: 1140px;
  }

  &-md {
    @include md {
      padding-right: 12px;
      padding-left: 12px;
      margin: 0 auto;
      max-width: 720px;
    }

    @include lg {
      max-width: 960px;
    }

    @include xl {
      max-width: 1140px;
    }
  }

  &-lg {
    @include lg {
      padding-right: 12px;
      padding-left: 12px;
      margin: 0 auto;
      max-width: 960px;
    }

    @include xl {
      max-width: 1140px;
    }
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: $white;
  border-radius: 4px;
  transition: 0.3s;

  @include md {
    padding: 0.75rem 2rem;
    font-size: 20px;
  }

  &-primary {
    background-color: $primary;
    border: 1px solid $primary;

    &:hover {
      background-color: $primary-hover;
      border-color: $primary-hover;
    }
  }

  &-danger {
    background-color: $danger;
    border: 1px solid $danger;

    &:hover {
      background-color: $danger-hover;
      border-color: $danger-hover;
    }
  }

  &-large {
    padding: 1rem 0;
    width: 100%;
    text-align: center;

    @include md {
      padding: 1rem 6.5rem;
      width: auto;
    }
  }
}
