.container {
  padding-right: 12px;
  padding-left: 12px;
  margin: 0 auto;
  max-width: 540px;

  @include md {
    max-width: 720px;
  }

  @include lg {
    max-width: 960px;
  }

  @include xl {
    max-width: 1140px;
  }
}
