@for $level from 0 through 16 {
  @each $dir,$dir-name in $direction {
    .m#{$dir}-#{$level} {
      margin-#{$dir-name}: $level * $spacer;
    }

    .p#{$dir}-#{$level} {
      padding-#{$dir-name}: $level * $spacer;
    }
  }

  .mx-#{$level} {
    margin-left : $level * $spacer;
    margin-right: $level * $spacer;
  }

  .my-#{$level} {
    margin-top   : $level * $spacer;
    margin-bottom: $level * $spacer;
  }

  .px-#{$level} {
    margin-left : $level * $spacer;
    margin-right: $level * $spacer;
  }

  .py-#{$level} {
    padding-top   : $level * $spacer;
    padding-bottom: $level * $spacer;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}