@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-normal text-gray-700;
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-300;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded bg-green-800;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }

  /* Hide spinner of input which type is number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    @apply m-0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input,
  textarea,
  button,
  select,
  a,
  li,
  label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@layer components {
  .btn {
    @apply inline-block rounded py-3 px-6 leading-none tracking-wider text-black transition-colors duration-300 md:py-3 md:px-8;
  }

  .btn-primary {
    @apply border-primary bg-primary hover:border-primary-dark hover:bg-primary-dark hover:text-white;
  }

  .btn-secondary {
    @apply border-secondary bg-secondary hover:border-secondary-dark hover:bg-secondary-dark hover:text-white;
  }

  .btn-danger {
    @apply border-danger bg-danger hover:border-danger-dark hover:bg-danger-dark hover:text-white;
  }

  .btn-small {
    @apply py-1.5 px-2 text-base;
  }

  .btn-large {
    @apply w-full py-4 px-0 text-center md:w-auto md:py-4 md:px-[6.5rem];
  }

  .btn-circle {
    @apply flex items-center justify-center rounded-full p-0;
  }

  .btn-fluid {
    @apply block rounded-none border-0 py-4 text-center md:py-4;
  }
}

@layer utilities {
  .clip-triangle {
    clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%);
  }

  .text-shadow {
    text-shadow: 3px 3px 6px #333;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .content-\[\>\] {
    content: '>';
  }
}
